* {
    margin: 0px;
}
body {
    font-size: 1.75rem;
    margin: 0px 0px 50px 0px;
}
p {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
p.individual {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    padding: 0px;
}
li {
    width: 100%;
    min-height: 321px;
    position:relative;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 8px 3px gray;
}
header {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
h1 {
    font-size: 3.75rem;
    text-align: center;
}
h1.hero-header {
    font-size: 6rem;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
}
h2 {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    }
h2.individual {
    margin-bottom: 1rem;
}
h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.75rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
main {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    max-width: 1024px;
    margin: 0px auto;
}
section {
    display: flex;
    align-content: center;
    column-gap: 150px;
}
@media (max-width: 1024px) {
    main {
        max-width: 330px;
    }
    img.responsive {
        width: 100%;
        height: auto;
    }
    ul {
        grid-template-columns: 1fr;
    }
    h3 {
        font-size: 1.5rem;
    }
    h1.hero-header {
        font-size: 2.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    }
    